#head1 {
  color: blue;
  background-color: pink;
}

#div1 {
  height: 100px;
  width: 100px;
  background-color: burlywood;
  border: 2px solid black;
}

#btn {
  background-color: chartreuse;
}

#para {
  text-align: center;
  text-shadow: 20px;
  color: blueviolet;
}
